@font-face {
	font-family: 'ProximaNovaTThin';
	src:	url('/fonts/ProximaNova/TThin.woff') format('woff'),
			url('/fonts/ProximaNova/TThin.ttf') format('truetype'),
			url('/fonts/ProximaNova/TThin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaLight';
	src:	url('/fonts/ProximaNova/Light.woff') format('woff'),
			url('/fonts/ProximaNova/Light.ttf') format('truetype'),
			url('/fonts/ProximaNova/Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaRegular';
	src:	url('/fonts/ProximaNova/Regular.woff') format('woff'),
			url('/fonts/ProximaNova/Regular.ttf') format('truetype'),
			url('/fonts/ProximaNova/Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaSemibold';
	src:	url('/fonts/ProximaNova/Semibold.woff') format('woff'),
			url('/fonts/ProximaNova/Semibold.ttf') format('truetype'),
			url('/fonts/ProximaNova/Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCnRegular';
	src:	url('/fonts/ProximaNova/CnRegular.woff') format('woff'),
			url('/fonts/ProximaNova/CnRegular.ttf') format('truetype'),
			url('/fonts/ProximaNova/CnRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaExCnRegular';
	src:	url('/fonts/ProximaNova/ExCnRegular.woff') format('woff'),
			url('/fonts/ProximaNova/ExCnRegular.ttf') format('truetype'),
			url('/fonts/ProximaNova/ExCnRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
